.navbar{
 display: flex;
 justify-content: space-between;
 margin: 10px 80px;
 margin-bottom: 50px;
}

.navbar-left{
 display: flex;
 justify-content: center;
 align-items: center;
}

.navbar-left input{
 padding: 10px 20px;
 border-radius: 5px;
 border: 1px solid grey;
 margin-left: 20px;
}

.btn{
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

.btn-aceptar{
 background: #3DB46D;
 color: #fff;
}